links:
  github:https://github.com/Nicocovi/Microservice1
  jira: http://www.localhost:8099/rest/api/2/project/MAS
  jenkins: http://localhost:8008/job/Masterarbeitssoftware-frontend
  iteraplan: http://localhost:1234/iteraplan/client/#/single/InformationSystem/1705
  cmdb: http://www.linktocmdb.com/xxx
  wiki: http://www.linktowiki.com/xxx
  
  
